body {
    background-color: green;
    align-items: flex-start;
}

/* Estilos para os botões */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;
    border: 2px solid black;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 20px;
    margin: 5px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

/* Estilo para remover o sublinhado nos links */
a {
    text-decoration: none;
}

.button:hover {
    transform: scale(1.2);
}
.container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
